*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Cormorant', serif;
}

p {
    font-size: 14pt;
}

h1,
h2 {
    margin: 0.5rem 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    color: #333;
}

main {
    max-width: 70ch;
    margin: 1rem auto;
    flex: 1;
}

header,
footer {
    max-width: 70ch;
    margin: 1rem auto;
    text-align: center;
}